@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-carousel-pagination .swiper-pagination-bullet {
  background: #dfe1ff; /* gray-300 */
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 !important;
}

.hero-carousel-pagination .swiper-pagination-bullet-active {
  background: #5b5bb3; /* your purple color */
}
